@charset "ISO-8859-1";

* {
color: green;
text-align: center;
}
table {
margin: 0 auto;
}
.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.home p {
display: flex; align-items : center;
justify-content: center;
width: 300px !important;
margin: 10px auto;
align-items: center;
}
.home p > a{
width: 100%;
}
.table {
border: 1px solid green;
}
.label {
text-align: right;
vertical-align: top;
}
.control {
margin-left: 20px;
}
.text-decoration {
text-decoration: none;
}
.home {
min-width: 70px;
}
